@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    // background-image: url('https://images.pexels.com/photos/1302326/pexels-photo-1302326.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    // background-image: url('https://images.pexels.com/photos/1575833/pexels-photo-1575833.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}

#map {
    height: 600px;
    width: 1110px;
    margin-bottom: 50px;
    border-radius: 25px;

    box-shadow: 6px -6px gray;
}

#title {
    font-size: 6.8em;
    font-family: 'Averia Serif Libre', cursive;
    color: white;
}

.heading {
    font-family: 'Doppio One', sans-serif;
    font-size: 40px;
    color: white
}

.paragraph {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
}

#datePicker {
    outline: none;
    border-width: 3px;
    border-radius: 25px;
    border-color: white;
    background: none;
    color: white;
    width: 130px;
    text-align: center;
    transition-duration: .4s;

    &:hover {
        width: 180px;
        border-color: aqua;
    }

    &:focus {

    }
}