@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

#map {
    height: 600px;
    width: 1110px;
}

#title {
    font-size: 6.8em;
    font-family: 'Averia Serif Libre', cursive;
    color: white;
}

.heading {
    font-family: 'Doppio One', sans-serif;
    font-size: 40px;
    color: white
}

.paragraph {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    color: white;
}